body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edf6f9;
}
.flex{
  display: flex; 
  gap: 10px;
  .block{
    border-radius: 15px;
  }
}
.block{
  width: 300px;
  height: 200px;
  margin-top: 150px;
  border: solid 2px #08f;
  background: purple;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  text-align: center;

  h1 {
    color: #000;
    font-size: 6rem;
    margin: 0;
    margin-bottom: 20px;

    &.plus {
      color: #2a9d8f;
    }
    &.minus {
      color: #e63946;
    }
  }

  h2 {
    font-size: 2rem;
    margin: 0;
    color: #556581;
  }

  

  button {
    padding: 8px;
    border: 2px solid transparent;
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
    padding: 10px 25px;
    cursor: pointer;
    margin: 0 10px;
    transition: all 0.05s ease-in-out;
    background-color: #2a9d8f;
    color: #fff;
    box-shadow: 0 4px 0 darken(#2a9d8f, 10%);
    border: 1px solid darken(#2a9d8f, 15%);

    .children{
      position: absolute;
    }
    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(2px);
      box-shadow: none;
    }
  }
}
